@font-face
{
    font-family: london;
    src: url("../fonts/76london-fall.ttf");
}
@font-face
{
    font-family: nazalization;
    src: url("../fonts/nasalization-rg.ttf");
}
@font-face
{
    font-family: prince;
    src: url("../fonts/pricedown-bl.otf");
}

.ft_nz
{
    font-family: nazalization;
}
.ft_lf
{
    font-family: london;
}
.ft_pd
{
    font-family: prince;
}
.custom
{
    color: #b0b7d1;
    font-size: large;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 1.618px 1.618px #2b1a1e;
    -webkit-text-stroke-width: .00001618px;
    -webkit-text-stroke-color: #65697a;
}
.tx_uc
{
    font-size: 34px;
}
.tx_lc
{
    font-size: 24px;
}
span.tx_op
{
    visibility: hidden;
}
.code > li
{
    color: #a88c00;
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
    font-weight: bold;
    -webkit-text-stroke-width: .1618px;
    -webkit-text-stroke-color: #241a09;
}
.select_down > li
{
    color: #e9993d;
    font-size: xx-large;
    font-stretch: ultra-condensed;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 1.618px 1.618px black;
    -webkit-text-stroke-width: .1618px;
    -webkit-text-stroke-color: #2b0508;
}