@font-face
{
    font-family: london;
    src: url("../fonts/76london-fall.ttf");
}
@font-face
{
    font-family: nazalization;
    src: url("../fonts/nasalization-rg.ttf");
}
@font-face
{
    font-family: prince;
    src: url("../fonts/pricedown-bl.otf");
}

.ft_nz
{
    font-family: nazalization;
}
.ft_lf
{
    font-family: london;
}
.ft_pd
{
    font-family: prince;
}
.custom
{
    color: #9fa9c8;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 1.618px 0 #2b1a1e, 0 1.618px #2b1a1e,
    1.618px 0 #2b1a1e, 0 1.618px #2b1a1e;
    -webkit-text-stroke-width: .00000618px;
    -webkit-text-stroke-color: #787878;
}
.tx_uc
{
    font-size: 34px;
}
.tx_lc
{
    font-size: 24px;
}
span.tx_op
{
    visibility: hidden;
}

.select_down > li
{
    color: #df8e3e;
    font-size: x-large;
    font-stretch: condensed;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
    -webkit-text-stroke-width: .0618px;
    -webkit-text-stroke-color: #664113;
}