li
{
    list-style-type: none;
}
ul.select_down
{
    margin: auto 10px;
    width: 100vw;
}
.select_down > li
{
    display: inline;
    justify-content: space-around;
}
.cs-names
{
    text-align: right;
}
.cs-status
{
    text-align: left;
}
article.code-skills
{
    margin-right: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}